/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  --primary: #223249;
  --secondary: #2D4F67;
  --accent: #658594;
  --font-color: #E2E2E2;
  --border-color: #DCD7BA;
  --error-color: #9c0505;
  --background: #216291;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--font-color)
}

