.header {
    background-color: var(--primary);
    height: 10vh;
}

.body{
    height:90vh;
}

.title {
    font-size: 40px;
    margin-bottom: 0px;
    font-size: calc(125% + 1vw + 1vh);;
}

.commands{
    background-color: var(--primary);
}

.command-name{
    background-color: var(--accent);
    border-top: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    padding: 10px;
    font-weight: bold;
    font-size: calc(50% + 0.5vw + 0.5vh);;
    text-align: center;
    margin-bottom: 0px;
}

.command-type{
    background-color: var(--primary);
    border-bottom: 1px var(--border-color) solid;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

.button{
    background-color: var(--secondary);
    border-color: var(--border-color);
    color: var(--font-color);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
}

.button:hover{
    background-color: var(--accent);
}

.disabled{
    background-color: var(--accent);
    border-color: var(--border-color);
    color: var(--font-color);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    text-align: center;
}

.collapse-button-col{
    background-color: var(--primary);
}

.map-container{
    min-height: 0;
}

.drone-panels{
    overflow-y: auto;
}

.drone-panel{
    padding: 0px;
}

.log-container, .firmware-container{
    background-color: var(--font-color);
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
}

.caret {
    float: left;
}
