.header {
    background-color: var(--primary);
    border-bottom: 1px var(--border-color) solid;
    padding: 40px;
}

.title {
    font-size: 40px;
}

.commands{
    background-color: var(--secondary);
    border-right: 1px var(--border-color) solid;
}

.command-name{
    background-color: var(--accent);
    border-bottom: 1px var(--border-color) solid;
    border-top: 1px var(--border-color) solid;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
}

.button{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--font-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.button:hover{
    background-color: var(--secondary);  
}

.mission{
    background-color: var(--background);
}
