<div class="container-fluid vh-100">
    <div class="row header h-20">
        <span class="col-sm-9 title">Système aérien d'exploration</span>
    </div>
    <div class="row body h-80">
        <div class="col-sm-2 commands">
            <div class="row"><h1 class="col command-name">Commandes</h1></div>
            <div class="row">
                <button
                    class="button primary"
                    (click)="collapse.toggle()"
                    aria-controls="collapseExample">
                    Liaison radio
                </button>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isLinkCollapsed">
                <div class="row"><button class="col button accent" (click)="connect()">Connexion</button></div>
                <div class="row"><button class="col button accent" (click)="disconnect()">Déconnexion</button></div>
            </div>
            <div class="row"><button class="col button primary" (click)="identify()">Identifier</button></div>
            <div class="row"><button class="col button primary" (click)="toggleSync()">Basculer la synchronisation (p2p)</button></div>
            <div class="row"><button class="col button primary" (click)="startMission()">Lancer la mission</button></div>
            <div class="row"><button class="col button primary" (click)="endMission()">Terminer la mission</button></div>
            <div class="row"><button class="col button primary" (click)="forceEndMission()">Forcer la fin de mission</button></div>
            <div class="row"><h1 class="col command-name">Interfaces</h1></div>
            <div class="row" *ngFor="let uri of commandService.uris">
                <app-drone-panel class="col drone-panel" uri={{uri}}></app-drone-panel>
            </div>
        </div>
        <div class="mission col d-flex flex-column">
            <div class="row">
                <h1 class="col command-name">Carte</h1>
            </div>
            <div class="row flex-grow-1">
                <app-map></app-map>
            </div>
        </div>
        <div class="col-sm-3 h-100 log-container" [hidden]="currentPane !== 'logs'">
            <app-log></app-log>
        </div>
        <div class="col-sm-3 h-100 firmware-container" [hidden]="currentPane !== 'firmware'">
            <app-firmware-panel></app-firmware-panel>
        </div>
        <div class="col-sm-1 collapse-button-col">
            <div class="row">
                <button
                    class="button primary"
                    (click)="togglePane('logs')">
                    Logs
                </button>
            </div>
            <div class="row">
                <button
                    class="button primary"
                    (click)="togglePane('firmware')">
                    Firmware
                </button>
            </div>
        </div>
    </div>
</div>
