.header {
    background-color: var(--primary);
    height: 10vh;
}

.body{
    height:90vh;
}

.title {
    font-size: 40px;
    margin-bottom: 0px;
    font-size: calc(125% + 1vw + 1vh);;
}

.commands{
    background-color: var(--secondary);
}

.command-name{
    background-color: var(--accent);
    border-bottom: 1px var(--primary) solid;
    padding: 10px;
    font-size: calc(50% + 0.5vw + 0.5vh);;
    text-align: center;
    margin-bottom: 0px;
}

.button{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--font-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.collapse-button-col{
    background-color: var(--secondary);
}

.button:hover{
    background-color: var(--secondary);
}

.mission{
    background-color: var(--background);
    padding: 0px;
}

.drone-panel{
    padding: 0px;
}

.log-container, .firmware-container{
    background-color: var(--font-color);
}
