<div class="container-fluid h-100 d-flex flex-column">
    <div class="row header">
        <h1 class="title">Système aérien d'exploration</h1>
    </div>
    <div class="row mission-board flex-grow-1">
        <div class="col-sm-2 commands">
            <div class="row"><h1 class="col command-name">Commandes</h1></div>
            <div class="row"><button class="col button">Init</button></div>
            <div class="row"><button class="col button">Lancer la mission</button></div>
            <div class="row"><button class="col button">Terminer la mission</button></div>
            <div class="row"><button class="col button">Terminer la mission</button></div>
        </div>
        <div class="col mission">
            <h1>Information de mission</h1>
        </div>
    </div>
</div>
