.mission{
    background-color: var(--background);
    background-color: var(--map-background);  
    display: grid;
    height: 100%;
    justify-content: center;
}

.mission canvas {
    grid-row-start: 1;
    grid-column-start: 1;
}

#basecanvas{
    z-index: 0;
}

#positionscanvas{
    z-index: 1;
}

#currentcanvas{
    z-index: 2;
}

#obstaclecanvas{
    z-index: 3;
}

.selection{
    background-color: var(--secondary);
    margin: 0px;
}

.drone-selector{
    border-left: solid var(--primary) 1px;
    display: flex;
    align-items: center;
}
