.map-container{
    min-height: 0;
}

.mission{
    background-color: var(--background);  
    display: grid;
    justify-content: center;
    height: 100%;
}

.mission canvas {
    grid-row-start: 1;
    grid-column-start: 1;
}

#basecanvas{
    z-index: 0;
}

#positionscanvas{
    z-index: 1;
}

#currentcanvas{
    z-index: 2;
}

.selection{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--secondary);
    margin: 0px;
}

.drone-select-bar{
    background-color: var(--secondary);
}

.drone-selector{
    background-color: var(--primary);
    border-right: solid var(--secondary) 1px;
    display: flex;
    align-items: center;
    margin: 0px;
}

.form-check-input:hover{
    cursor: pointer;
}
