.header{
    background-color: var(--primary);
    border-top: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}

.radio-container{
    padding: 10px;
}

.button{
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--font-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.form-check-label{
    color: black;
}

.button:hover{
    background-color: var(--accent);
}

.card{
    padding: 0px;
    border: 0px;
}

.card-body{
    background-color: var(--accent);
}

.dropdown-button{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--font-color);
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown-button:hover{
    background-color: var(--secondary);
}

.editor{
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.spinner{
    color: black;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.error{
    color: var(--error-color);
}
