<div class="d-flex flex-column h-100">
    <div class="row">
        <button
            class="button"
            (click)="collapse.toggle()"
            [attr.aria-expanded]="!collapsed"
            aria-controls="collapseExample">
            {{getName(currentMode)}}
        </button>
    </div>

    <div #collapse="ngbCollapse" class="row" [(ngbCollapse)]="collapsed">
        <div class="dropdown-button" *ngFor="let mode of modes" (click)="selectMode(mode[0])">
            <span> {{getName(mode[0])}} </span>
        </div>
    </div>

    <br>
    <div class="row">
        <input *ngIf="currentMode === 'file'" accept=".bin" type="file" lang="fr" class="upload form-control"
               (change)="setFile($event)">
        <app-code-editor class="editor" *ngIf="currentMode === 'editor'"></app-code-editor>
    </div>
    <br>

    <div class="row">
        <button class="button" (click)="flash()">
            Programmer!
        </button>
    </div>

    <br>
    <div *ngIf="isFlashing" class="spinner">
        <div class="spinner-border" role="status"></div>
        <br>
        <label>Programmation en cours</label>
    </div>

    <br>
    <label *ngIf="isFlashError" class="error">Erreur lors de la programmation</label>

</div>
