.main-commands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  height: auto;
}

.button {
  padding: 1.5vh 2.5vh;
  font-size: 2vh;
  text-align: center;
  border-radius: 1vh;
  box-shadow: 0 5px rgb(212, 212, 212);
  background-color: white;
  margin: 2.5vh;
  font-family: 'Press Start 2P', cursive;
}
