.pane{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--font-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;order-right: 1px var(--border-color) solid;
}

.button{
    width: 100%;
    background-color: var(--secondary);
    border-color: var(--secondary);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: var(--font-color);
    text-align: center;
}

.button:hover{
    background-color: var(--accent);  
}

.card{
    background-color: var(--primary);
}

.coord{
    padding-left: 10%; 
}

.caret{
    float: right;
}
