<button
    class="button" 
    (click)="collapse.toggle()" 
    [attr.aria-expanded]="!collapsed"
    aria-controls="collapseExample">
    {{uri}}
</button>
  
<div #collapse="ngbCollapse" 
    [(ngbCollapse)]="collapsed">
    <div class="card">
        <div class="card-body">
            <div>Status: {{metric?.status}}</div>
            <div>Position:
                <div class="coord">x: {{metric?.position?.x}}</div>
                <div class="coord">y: {{metric?.position?.y}}</div>
                <div class="coord">z: {{metric?.position?.z}}</div>
            </div>
            <button class="button" (click)="identify()">Identifier</button>
        </div>
    </div>
</div>
