.container{
    padding: 0px;
}

.header{
    background-color: var(--primary);
    border-top: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    color: var(--font-color);
    padding: 10px;
    text-align: center;
}

.log{
    color: black;
    white-space: nowrap;
}

.log-box{
    overflow-x: auto;
    overflow-y: auto;
    background-color: var(--font-color);
}

.button{
    background-color: var(--secondary);
    border-color: var(--border-color);
    color: var(--font-color);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
}

.button:hover{
    background-color: var(--accent);  
}

.card{
    padding: 0px;
    border: 0px;
}

.card-body{
    background-color: var(--primary);
}

.dropdown-button{
    background-color: var(--secondary);
    border-bottom: 1px var(--primary) solid;
    color: var(--font-color);
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dropdown-button:hover{
    background-color: var(--accent);  
    cursor: pointer;
}
