<ng-template class="modal-lg" #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Éditeur</h4>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div>
            <div class="d-flex justify-content-between">
                <input class="path form-control" type="text" [(ngModel)]="filePath" (keydown)="handleKey($event)"/>
                <button class="button" (click)="getFile()">Ouvrir</button>
            </div>
            <label *ngIf="isPathError" class="error">Impossible d'accéder à ce fichier</label>
            <br>
            <textarea rows="10" class="code" [(ngModel)]="fileContent"></textarea>
            <label *ngIf="isEditError" class="error">Impossible de modifier ce fichier</label>
            <br>
            <button class="button" (click)="editFile()">Modifier</button>
        </div>
    </div>
</ng-template>

<button class="button" (click)="open(modal)">Ouvrir l'éditeur</button>
