<ng-template class="modal-lg" #modal let-modal>
    <div class="modal-header">
        <div class="modal-title text-black" id="modal-basic-title">Mission : {{selectedMission?.id}}</div>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" *ngIf="selectedMission">
        <div *ngFor="let attribute of attributes">
            <label class="text-black">{{attribute[1]}}:
                {{isDate(attribute[0]) ? (getAttributeAsNumber(selectedMission, attribute[0]) | date:"yyyy-MM-dd HH:mm") : (selectedMission[currentAttribute])}}
            </label>
            <br>
        </div>
    </div>
</ng-template>

<div class="d-flex flex-column h-100">
    <div class="row header">
        <span class="col">Historique des missions</span>
    </div>
    <div class="row">
        <button
            class="button"
            (click)="collapse.toggle()"
            [attr.aria-expanded]="!collapsed"
            aria-controls="collapseExample">
            Ordonner par: {{getAttributeName(currentAttribute)}}
            <span class="material-icons caret">{{collapsed ? "expand_more" : "expand_less"}}</span>
        </button>
    </div>

    <div #collapse="ngbCollapse" class="row" [(ngbCollapse)]="collapsed">
        <div (click)="selectAttribute(attribute[0])" class="dropdown-button" *ngFor="let attribute of attributes">
            <span>{{attribute[1]}}</span>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div *ngIf="isHistory" class="col h-100 log-box">
            <div class="row history-entry" *ngFor="let mission of missions">
                <div class="col">
                Id: {{mission.id.split("-")[0]}} -
                {{getAttributeName(currentAttribute)}}:
                {{isDate(currentAttribute) ? (getAttributeAsNumber(mission, currentAttribute) | date:"yyyy-MM-dd HH:mm") : (mission[currentAttribute])}}
                </div>
                <span class="col-sm-1 material-icons more" (click)="open(modal, mission)">more_horiz</span>
            </div>
        </div>

        <div *ngIf="!isHistory" class="d-flex align-items-center" >
            <label class="col text-center text-black">
                Aucun historique de missions trouvée
            </label>
        </div>
    </div>

</div>
